<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction</title>
</head>
<body>
    <h2>Diabetes Prediction Form</h2>
    <form action="/predict" method="post">
        <label>Gender (0-Female, 1-Male, 2-Other):</label><br>
        <input type="number" name="gender" required><br><br>

        <label>Age:</label><br>
        <input type="number" name="age" step="0.01" required><br><br>

        <label>Hypertension (0-No, 1-Yes):</label><br>
        <input type="number" name="hypertension" required><br><br>

        <label>Heart Disease (0-No, 1-Yes):</label><br>
        <input type="number" name="heart_disease" required><br><br>

        <label>Smoking History (0-No info, 1-Current, 2-Ever, 3-Former, 4-Never):</label><br>
        <input type="number" name="smoking_history" required><br><br>

        <label>BMI:</label><br>
        <input type="number" name="bmi" step="0.01" required><br><br>

        <label>HbA1c Level:</label><br>
        <input type="number" name="HbA1c_level" step="0.1" required><br><br>

        <label>Blood Glucose Level:</label><br>
        <input type="number" name="blood_glucose_level" required><br><br>

        <button type="submit">Predict</button>
    </form>
</body>
</html>
